

.mainNav {
    width:99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
}

.navContainer {
    display: flex;
    gap:0.2rem;
    justify-content: center;
    width:94.5vw;
    background-color: #EDF2FA;
    flex-wrap: wrap;
    margin:1rem;
    border-radius: 1.5rem;
    align-items: center;
}


.undoContainer {
    padding:0.2rem;
    margin:0.2rem;
    cursor: pointer; 

}
.undoContainer:hover {
    background-color: rgba(0,0,0,.2);
}

@media only screen and (max-width:320px) and (max-width:375px)  and (max-width:425px) {
    .mainNav{
        width:99vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .navContainer{
        width:90vw;
        margin:0.5rem;
        border-radius: 1rem;
        padding-right:1.5rem;
        margin:0.9rem;
    }
}


.box{
    border: 1px solid rgb(182, 182, 182);
    height:100vh;
    width:55vw;
    padding: 3rem;
    background-color: #FFFFFF;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;  
    outline: none;
   margin:1rem;
   
}

.contentContainer {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width:320px) and (max-width:375px){
    .box {
        width:79vw;
        margin:0.5rem;
        padding:2rem;
    }

}

@media only screen and (max-width:768px){
    .box {
        width:85vw;
        margin:0.5rem;
        padding:2rem;

    }
}