.mainNav {
    width:100%;
    /* background-color: blue; */
}

.navContainer {
    display: flex;
    gap:0.2rem;
    justify-content: center;
    width:94.5%;
    background-color: #EDF2FA;
    flex-wrap: wrap;
    margin:1.3rem;
    border-radius: 1.7rem;
    /* padding:0.4rem; */
    align-items: center;
}





.undoContainer {
    padding:0.2rem;
    margin:0.2rem;
    cursor: pointer; 
    border-radius: 5px;
}
.undoContainer:hover {
    background-color: rgba(0,0,0,.2);
}
.undoContainer:active{
    background-color: skyblue;
}
:local .active{
    background-color: skyblue;
}